<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
</head>
<body>
 <div class="Update-container" >
             <h4>Update Data here </h4>
            <form method="POST" action="">
            <input type="hidden" name="id" value="{{data.0}}">
            <label>Name</label>
            <input type="text" name="name" value="{{data.1}}"><br><br>
            <label>Email</label>
            <input type="text" name="email" value="{{data.2}}"><br><br>
            <label>Password</label>
            <input type="text" name="password" value="{{data.3}}"><br><br>
            <input type="submit" value="Update">
            </form>
            </div>
</body>
</html>